  .ContactHeader {
    background: #27659a;
  }

  .contactspan {
    color: #ffffff;
    font-size: 19px;
    border: 2px solid red;
  }

  .Conts {
    width: 100vw;
    background: #27659a;
    padding: 25px;
    height: 60px;
  }

  .spancontact {
    margin-top: 70px;
    color: #ffffff;
  }