 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
 }

 input:focus {
   outline-style: none !important;
   outline: none !important;
   outline: 0 !important;
   border: 1px solid #17a2b8;
   font-size: 12px;

 }

 ::placeholder {
   color: #9f9f9f;
   font-size: 12px;
 }

 .search-Box {
   width: 95%;
   height: 31px;
   padding: 10px;
   border-top: 2px solid #2d5e89;
   border-bottom: 2px solid #2d5e89;
   border-left: 2px solid #2d5e89;
   border-right: none;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
 }

 button {
   color: #f2f2f2;
   padding: 7px;
   margin-top: -10px;
 }

 button:hover {
   background-color: #093860;
   transition: 1s;
 }


 .search-button {
   background-color: #1890ff;
   margin-top: 0px;
   border: none;
   height: 28px;
 }

 .search-button:hover {
   background-color: #67b5fd;
   transition: 1s;
   border: none;
 }

 .table {
   width: 90%;
   height: 270px;
   margin-left: 5%;
   background-color: #ffffff;
   box-shadow: 0px -9px 27px -8px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 0px -9px 27px -8px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px -9px 27px -8px rgba(0, 0, 0, 0.2);
 }

 th {
   font-size: 12px;
 }

 td {
   color: rgb(102, 101, 101);
   font-size: 12px;
   height: 70px;

 }

 td:hover {
   color: rgb(102, 101, 101);
   background-color: #dff5fa;
 }

 .table-hover tbody .content:hover>td {
   background-color: #dff5fa;
   color: rgb(102, 101, 101);

 }

 .no-data-text {
   color: #e1dede;
   margin-left: 115%;
   display: block;
   width: 80px;
   font-size: 12px;
 }

 .tableheader {
   border-radius: 8px;
   border-top: none;
   margin-top: 40px;
 }

 tr {
   cursor: pointer;
 }
