a {
  color: #697582;
  text-decoration: none;
}

a:hover {
  color: #697582;
  text-decoration: none;

}

.pagedata {
  color: #697582;
  font-size: 13px;
  padding: 40px;
}

.gobackheader {
  color: #ffffff;
  padding: 20px;
  height: 90px;
}

.Titles {
  font-size: 19px;
}

.spinner {
  margin-top: 60px;
}